.git
.DS_Store
**/.DS_Store
.github
.venv
**/.venv
node_modules
frontend/node_modules
frontend
**/__pycache__
**/.pytest_cache
**/.mypy_cache
**/.ruff_cache
storage
media
artifacts
*.log
.env
**/.env
dist
